IMAGE_URL=https://downloads.raspberrypi.com/raspios_oldstable_lite_arm64/images/raspios_oldstable_lite_arm64-2023-10-10/2023-05-03-raspios-bullseye-arm64-lite.img.xz
IMAGE_NAME=2023-05-03-raspios-bullseye-arm64-lite
SD_PATH=/dev/mmcblk0
WIFI_SSID=<your ssid>
WIFI_PSK=<your wifi psk>
RPI_HOSTNAME=rpi
