[Unit]
Description=Nomad Server
After=consul.service
Requires=consul.service

[Service]
Type=forking
ExecStart=/usr/local/bin/nomad agent -config=/etc/nomad/server.hcl
PIDFile=/var/run/nomad-server.pid

[Install]
WantedBy=multi-user.target
